<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.wit.classattendanceapp">

    <application
        android:name=".main.MainApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ClassAttendanceApp">
        <activity
            android:name=".activities.ModuleSelectionActivity"
            android:exported="true" />
        <activity
            android:name=".activities.AttendanceActivity"
            android:exported="true" />
        <activity
            android:name=".activities.CreateAccountActivity"
            android:exported="true" />
        <activity
            android:name=".activities.LaunchActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".activities.LectureActivity"
            android:exported="true" />
        <activity
            android:name=".activities.ModuleListActivity"
            android:exported="true" />
        <activity android:name=".activities.ModuleActivity" />
    </application>

</manifest>